.jumbotron {
	background-color: black;
	color: white;
}

.icons {
	width: 30px;
	height:30px;
	font-weight: 50%;
	padding-right: 10px;
}
footer {
	padding: 10px 10px 0 10px;
	background-color: grey;
	margin-bottom: 0px;
	margin-top: 10px;	
}

card-img-top {
	height: 50px;
	width: 100px;

}
.footer-address-icon {
	border-radius: 20px;
	color: black;
	border-radius: 15px;
	background-color: rgb(122, 116, 116);
    padding-right: 10px;
	
}
.card-auto {
	flex: 1 200px;
	margin-top: 10px;

}
.btn-vision {
		border-radius: 20px;
		color: black;
		background-color: rgb(122, 116, 116);
		padding-right: 10px;
		height: 50px;
        width: 100%;
}
