$yellow: #fff111;
$green: #06b000;
$red: #f54242;
$white:#fcf7f7; 
$black: #2d613b;


@mixin margenes ($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
	
}
.jumbotron {
    background-color: $green;
    color: $black;
    @include margenes(50px, 0px);

}
.breadcrumb{
    background-color: $green;
    color: $white;
}

.icons {
	width: 30px;
	height:30px;
	font-weight: 50%;
	padding-right: 10px;
}
footer {
    background-color: $yellow;
    color: $green;
	@include margenes(10px, 0px);	
}

card-img-top {
	@include margenes(10px, 0px);

}
.footer-address-icon {
	border-radius: 20px;
	color: $white;
	border-radius: 15px;
	background-color: $red;
    padding-right: 10px;
	
}
.card-auto {
	flex: 1 200px;
	margin-top: 10px;

}
.btn-vision {
		border-radius: 20px;
		color: black;
		background-color: $green;
		padding-right: 10px;
		height: 50px;
        width: 100%;
}
