.jumbotron {
  background-color: #06b000;
  color: #2d613b;
  margin-top: 50px;
  margin-bottom: 0px; }

.breadcrumb {
  background-color: #06b000;
  color: #fcf7f7; }

.icons {
  width: 30px;
  height: 30px;
  font-weight: 50%;
  padding-right: 10px; }

footer {
  background-color: #fff111;
  color: #06b000;
  margin-top: 10px;
  margin-bottom: 0px; }

card-img-top {
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  border-radius: 20px;
  color: #fcf7f7;
  border-radius: 15px;
  background-color: #f54242;
  padding-right: 10px; }

.card-auto {
  flex: 1 200px;
  margin-top: 10px; }

.btn-vision {
  border-radius: 20px;
  color: black;
  background-color: #06b000;
  padding-right: 10px;
  height: 50px;
  width: 100%; }
